*.httr-oauth
*.xlsx
*.docx
*.pdf
*.Rhistory
*.html
*.csv
*.Rproj
*.nvp
*.txt
*.svg
*.zip
*.htm
*.MP3
*.M4a
*.mp3
*.m4a
*.WMA
*.png
*.twb
*.ai
*.jpg
*.emf
*.xml
*.thmx
*.doc
*.twbr
*.db
*.log
*.gz
*.PPTX
*.xls
*.dta
*.RData
*.Rdata
*.pptx
CensusReTweet
*.jpeg
*.csv
*.rds
*.dta_DESCRIBE
*.RDa
*.Rda